html {
  font-size: 62.5%;
  --ff-heading: Verdana, sans-serif;
  --fs-heading-h1: 5rem;
  --fs-heading-h2: 4.2rem;
  --clr-heading: rgba(245, 245, 245, 1);
  --fw-h1: 400;
  --fw-h2: 300;
  --clr-p: rgba(245, 245, 245, 0.75);
  --ff-main: Verdana, sans-serif;
  --fs-main: 2.1rem;
  --fs-links: 1.6rem;
  --clr-links: rgba(127, 255, 212, 1);
}

body {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  align-items: center;
  margin: 1rem;
}

main > * {
  margin: 1rem;
}

footer {
  align-items: flex-end;
  padding: 1rem;
}

p {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  color: var(--clr-p);
}

a {
  font-size: var(--fs-links);
  color: var(--clr-links);
}

.headings {
  font-family: var(--ff-heading);
  color: var(--clr-heading);
}
.h1.headings {
  font-size: var(--fs-heading-h1);
  font-weight: var(--fw-h1);
}
.h2.headings {
  font-size: var(--fs-heading-h2);
  font-weight: var(--fw-h2);
}
